.yelo_box{
    background-color: #fffbe6;
    border: 1px solid #ffe799;
    color: rgba(0,0,0,0.85);
    padding: 8px 15px;
    border-radius: 4px;
}

.loc_buttn{
    color: #fff !important;
    background: #f95192 !important;
    border-color: #f95192;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.aFtr_sty{
    font-size: 14px;
    font-weight:600;
}

.hovr_clr:hover {
    border-color: #f14668;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #f14668;
    outline: 0;
    box-shadow: 0 0 0 2px #f6cfde !important;
}

.loc_buttn{
    justify-content:center  !important;
    /* align-items: baseline !important; */
    display: flex !important;
}
.loc_buttn:focus{
    box-shadow: none !important;
}
.form-check-input:hover{
    border-color:#f14668;
}
/* .loc_buttn:hover{
    cursor: no-drop !important;
} */

.form-check-input:checked{
    background-color:#f14668;
    border-color:#f14668;
}

.form-check-input:focus {
    border-color:#f14668 ;
    outline: 0;
    box-shadow: 0 0 0 2px  #f6cfde;
    /* background-color: #f14668 !important; */
}
.fs_14{
    font-size: 14px !important;
}